@charset "UTF-8";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a img {
    text-decoration: none;
    border: 0px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFF;
}

#container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 728px;
    height: 90px;
    margin: auto;
    overflow: hidden;
    background: #EB1000;
    border:1px solid #000;
}

#container div {
    position: absolute;
}

#content {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
	background-color: #eb1000;
}

#rolloverCatch {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    cursor: pointer;
}

#cover {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #fff;
    z-index: 998;
}

#bg {
    top: 0;
    left: 0;
    z-index: 1;
}

#logo {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#cta {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#txt_1, #txt_1a, #txt_1b, #txt_1c, #txt_2, #txt_2a, #txt_2b, #txt_2c, #txt_3, #txt_3a, #txt_3b, #txt_4a, #txt_4b {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
}

#doc_1 {
    top: 15px;
    left: 405px;
    z-index: 2;
	transform: scale(1.25);
    transform-origin: left top;
}

#doc_2 {
    width: 100%;
    height: 100%;
    top: -60px;
    left: 470px;
    z-index: 2;
	opacity: 1;
}
#doc_3 {
    width: 100%;
    height: 100%;
    top: 15px;
    left: 640px;
    z-index: 3;
	opacity: 1;
}
#doc_4 {
    width: 100%;
    height: 100%;
    top: 84px;
    left: 524px;
    z-index: 4;
	opacity: 1;
}

#ui_1 {
    top: 2px;
    left: 370px;
    z-index: 4;
}
#ui_2 {
    top: 55px;
    left: 370px;
    z-index: 4;
}
#ui_2a {
	position: absolute;
    width: 100%;
    height: 100%;
	 top: 15px;
    left: 15px;
	 z-index: 1;
}

#ui_2b {
	position: absolute;
    width: 100%;
    height: 100%;
	top: 15px;
    left: 15px;
	 z-index: 2;
}
#ui_2_Base {
	position: absolute;
    width: 100%;
    height: 100%;
	 top: 0px;
    left: 0px;
    z-index: 0;
}
 #ui_3 {
	 width: 100%;
    height: 100%;
    top: 65px;
    left: 370px;
    z-index: 4;
 }
#ui_4 {
    top: 2px;
    left: 370px;
    z-index: 4;
}

#ui_5 {
    top: 62px;
    left: 370px;
    z-index: 40;
}
#ui_5a {
    position: relative;
    top: 16px;
    left: 13px;
	z-index: 2;
}
#ui_5b {
    position: absolute;
    top: 70px;
    left: 244px;
}
#ui_5 .mask {
    height: 26px;
    background: #fff;
    transform-origin: left center;
    overflow: hidden;
	z-index: 2;
}

#ui_5_line_1 {
    top: 18px;
    left: 10px;
    width: 260px;
    z-index: 3;
}

#ui_5_line_2 {
    top: 38px;
    left: 10px;
    width: 260px;
    z-index: 3;
}
#avatar{
    top: 10px;
    left: 550px;
    z-index: 20;
	z-index: 2;
	transform: scale(.6);
    transform-origin: left top;
}
#doc_2{
    top: 85px;
    left: 620px;
    z-index: 1;
	transform: scale(1.25);
    transform-origin: left top;
	
}
#doc_4{
    top: -136px;
    left: 540px;
    z-index: 1;
	transform: scale(1.22);
    transform-origin: left top;
}
#ui_6 {
    top: 70px;
    left: 372px;
    z-index: 40;
}
#doc_animation {
    top:0px;
    left:-170px;
    z-index: 2;
	transform: scale(.48);
    transform-origin: left top;
	opacity: 1;
}